.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar-wrapper {
    padding-right: 40px;
    color: rgb(75, 70, 70);
}

.sidebar-wrapper .sidebar-menu {
    margin: 20px 0px;
}

.sidebar-wrapper .sidebar-menu h3 {
    font-size: 15px;
    padding-bottom: 5px;
    color: rgb(146, 145, 145);
}

.sidebar-wrapper .sidebar-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    
}
.sidebar-wrapper .sidebar-menu .link{
    width: 100%;
    text-decoration: none;
    color: inherit;
}
.sidebar-wrapper .sidebar-menu .link li{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-top: 5px;
}
.sidebar-wrapper .sidebar-menu li:hover, .sidebar-wrapper .sidebar-menu .active{
    background-color: rgb(240, 240, 275);
    cursor: pointer;
}
.sidebar-wrapper .sidebar-menu li span{
    margin-right: 5px;
}