
.Top-header .Top-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.top-header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.top-header-left .icon-container {
    position: relative;
}
.top-header-left .icon-container i{
    color: rgb(89, 96, 110);
    padding: 10px;
}
.top-header-left .icon-container .icon-badge {
    position: absolute;
    top: -6px;
    right: 6px;
    font-size: 15px;
    background-color: red;
    color: white;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}

.top-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.top-header-right .text-logo {
    color: rgb(41, 41, 158);
}